---
import Button from "@/components/ui/Button/Button.astro";

import { Check } from "@astropub/icons";
---

<Button variant="outline" class="rounded-lg bg-green-600 hover:bg-green-700">
	<Check class="px-6 text-primary" />
</Button>
