---
import Button from "@/components/ui/Button/Button.astro";

import { Check, ChevronRight, Cross2 } from "@astropub/icons";
---

<Button slot="approve" variant="outline" class="rounded-lg bg-green-600 hover:bg-green-700">
	<Check class="px-6 text-primary" />
</Button>

<Button slot="deny" variant="outline" class="hover:bg-destructive-[100] rounded-lg bg-destructive">
	<Cross2 class="px-6 text-primary" />
</Button>

<Button slot="submit" type="submit" variant="secondary" class="rounded-lg">
	<ChevronRight class="" />
</Button>
