---
import type { HTMLAttributes } from "astro/types";

import Card from "@/components/ui/Card/Card.astro";
import CardHeader from "@/components/ui/Card/CardHeader.astro";
import CardTitle from "@/components/ui/Card/CardTitle.astro";
import CardContent from "@/components/ui/Card/CardContent.astro";
import CardFooter from "@/components/ui/Card/CardFooter.astro";
import { ChevronRight } from "@astropub/icons";
import Separator from "@/components/ui/Separator/Separator.astro";
import Button from "@/components/ui/Button/Button.astro";
import Input from "@/components/ui/Input/Input.astro";
import { default as ApproveButton } from "@/pages/scrape/_ApproveButton.astro";
import { default as DenyButton } from "@/pages/scrape/_DenyButton.astro";

const { class: className, ...props } = Astro.props;
---

<Card class:list={[className, "relative h-screen"]} {...props}>
	<CardHeader class="">
		<CardTitle class="">Enter a URL to get started</CardTitle>
	</CardHeader>
	<Separator decorative={true} />
	<CardContent class="pt-4" />
	<div class="absolute bottom-0 w-full space-y-6">
		<Separator decorative={true} />
		<CardFooter>
			<form method="POST" class="flex w-full items-center justify-between">
				<div class="flex grow gap-4">
					<Input
						type="text"
						class="w-2/5 text-base placeholder:opacity-60"
						placeholder="Enter an article..."
					/>
					<Button type="submit" variant="secondary" class="rounded-lg">
						<ChevronRight class="" />
					</Button>
				</div>
				<div class="m-0 flex space-x-4">
					<DenyButton />
					<ApproveButton />
				</div>
			</form>
		</CardFooter>
	</div>
</Card>
