---
import { createClient, makeRequest } from "@/lib/gpt";

export interface Props {
	fullText?: string | undefined;
}

const { fullText, ...props } = Astro.props;

let summary;
if (Astro.request.method === "POST") {
	const client = createClient({});

	const { text } = await makeRequest(client, [
		{ role: "user", content: "Summarize the following text\n" + fullText ?? "" },
	]);
	summary = text;
}
---

<p {...props}>{summary}</p>
