---
import RootLayout from "@/layouts/RootLayout.astro";
import { ContentItemPage } from "./_page";
---

<RootLayout title="Welcome to Astro." description="Test">
	<main class="container flex h-dvh min-h-dvh w-full flex-col gap-12 py-10">
		<ContentItemPage client:load />
	</main>
</RootLayout>
