---
import Layout from "@/layouts/Layout.astro";

import { useDatabase } from "@/db/useDatabase";
import { useScraper } from "@/hooks/useScraper";

const scraper = useScraper();

import { default as ContentItemCard } from "@/pages/scrape/_ContentItemCard.astro";
import { default as EmptyContentItemCard } from "@/pages/scrape/_EmptyContentItemCard.astro";

const db = useDatabase();

// const results = await db.select().from(contentItems).limit(1);

// const emptyContentItem: ContentItem = {
// 	id: 1,
// 	type: "article" as const,
// 	title: "Title",
// 	author: "Author",
// 	abstract: "Abstract",
// 	fullText: "Full text",
// 	publishedAt: "Published at",
// 	sourceUrl: "https://example.com",
// 	slug: "",
// 	createdAt: null,
// 	updatedAt: null,
// };

// const contentItem = results[0] ?? emptyContentItem;

// const url = "https://www.nature.com/articles/s41584-023-00964-y";

let contentItem;
if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const url = data.get("url");
		// TODO: add validation
		if (url) {
			contentItem = await scraper(url.toString());
		}
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}
---

<Layout title="Welcome to Astro." description="Test">
	<main class="container h-screen">
		<section class="flex h-full w-full flex-col gap-12 py-10">
			{
				contentItem !== undefined ? (
					<ContentItemCard class="h-full" contentItem={contentItem} />
				) : (
					<EmptyContentItemCard />
				)
			}
		</section>
	</main>
</Layout>
