---
import Layout from "@/layouts/Layout.astro";
import { default as ContentItemCard } from "@/pages/scrape/_ContentItemCard.astro";
---

<Layout title="Welcome to Astro." description="Test">
	<main class="container h-screen">
		<section class="flex h-full w-full flex-col gap-12 py-10">
			<ContentItemCard />
		</section>
	</main>
</Layout>
