---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"td"> {}

const { class: className, ...props } = Astro.props;
---

<td class:list={["p-4 align-middle [&:has([role=checkbox])]:pr-0", className]} {...props}>
	<slot />
</td>
