---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"table"> {}

const { class: className, ...props } = Astro.props;
---

<div class="relative w-full overflow-auto">
	<table class:list={["w-full caption-bottom text-sm", className]} {...props}>
		<slot />
	</table>
</div>
