@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* Webfont: Humane-Thin */
@font-face {
	font-family: "MangoGrotesqueThin";
	src: url("Humane-Thin.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-Thin.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-Thin.woff") format("woff"),
		/* Modern Browsers */ url("Humane-Thin.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-Thin.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-ExtraLight */
@font-face {
	font-family: "MangoGrotesqueExtLt";
	src: url("Humane-ExtraLight.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-ExtraLight.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-ExtraLight.woff") format("woff"),
		/* Modern Browsers */ url("Humane-ExtraLight.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-ExtraLight.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-Light */
@font-face {
	font-family: "MangoGrotesqueLight";
	src: url("Humane-Light.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-Light.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-Light.woff") format("woff"),
		/* Modern Browsers */ url("Humane-Light.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-Light.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-Regular */
@font-face {
	font-family: "MangoGrotesque";
	src: url("Humane-Regular.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-Regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-Regular.woff") format("woff"),
		/* Modern Browsers */ url("Humane-Regular.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-Medium */
@font-face {
	font-family: "MangoGrotesqueMed";
	src: url("Humane-Medium.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-Medium.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-Medium.woff") format("woff"),
		/* Modern Browsers */ url("Humane-Medium.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-SemiBold */
@font-face {
	font-family: "MangoGrotesqueSemBd";
	src: url("Humane-SemiBold.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-SemiBold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-SemiBold.woff") format("woff"),
		/* Modern Browsers */ url("Humane-SemiBold.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Webfont: Humane-Bold */
@font-face {
	font-family: "MangoGrotesque";
	src: url("Humane-Bold.eot"); /* IE9 Compat Modes */
	src:
		url("Humane-Bold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("Humane-Bold.woff") format("woff"),
		/* Modern Browsers */ url("Humane-Bold.woff2") format("woff2"),
		/* Modern Browsers */ url("Humane-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}
