---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div
  class:list={["p-6 pt-0", className]}
  {...props}
>
  <slot/>
</div>
