---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'h3'>{}

const { class: className, ...props } = Astro.props
---

<h3
  class:list={["font-semibold leading-none tracking-tight", className]}
  {...props}
>
  <slot/>
</h3>
