---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Page not found">
  <main slot="main" class="flex flex-col grow justify-center items-center gap-y-4">
    <h1 class="text-4xl font-bold">Oops!</h1>
    <h2 class="text-3xl font-normal">Page not found</h2>
  </main>
</Layout>
