---
import Button from "@/components/button/Button.astro"
import Layout from "@/layouts/Layout.astro"
import { Icon } from "astro-icon/components"
import { EnvelopeOpen } from "@astropub/icons"
import { z } from "astro:content"
import { db, InterestedUser } from "astro:db"

if (Astro.request.method === "POST") {
  const newInterestedUserSchema = z.object({
    email: z.string().email(),
  })

  const formData = await Astro.request.formData()
  const email = formData.get("email")
  const parsedData = await newInterestedUserSchema.safeParseAsync({ email })
  if (parsedData.success === false) {
    return new Response(JSON.stringify({ errors: parsedData.error }), { status: 400 })
  }

  await db.insert(InterestedUser).values({ email: parsedData.data.email }).onConflictDoNothing()
}
---

<Layout title="Coming Soon">
  <main slot="main" class="flex flex-col flex-grow items-center justify-evenly">
    <div class="flex flex-col justify-center basis-2/3 gap-y-2 px-3">
      <h2 class="text-4xl font-bold pb-4">
        spicy cough <span class="font-normal text-4xl">(n)</span>
      </h2>
      <h3 class="text-2xl text-muted-foreground font-normal">
        <span class="text-muted-foreground font-semibold">1. </span>a colloquial label for COVID-19
      </h3>
      <h3 class="text-2xl font-semibold">
        <span class="font-bold">2. </span>the non-expert's hub for SARS-CoV-2 research
      </h3>
    </div>
    <div
      class="flex flex-col basis-1/3 outline-dashed outline-muted-foreground rounded-2xl min-w-2/3 lg:px-24 py-12 sm:px-6 px-3 md:px-12 gap-y-8"
    >
      <h4 class="font-semibold text-xl text-center">Want to get notified when we launch?</h4>
      <form method="POST" class="flex gap-x-4">
        <div class="flex flex-col origin-right relative justify-between w-full gap-y-1.5">
          <input
            type="email"
            name="email"
            autocomplete="email"
            class="flex h-10 md:w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Enter your email"
          />
          <EnvelopeOpen class="size-4 absolute right-0 mt-3 mr-3 text-muted-foreground" />
          <p class="text-muted-foreground text-xs px-1.5">
            We'll never share your email with anyone else
          </p>
        </div>
        <Button
          type="submit"
          class:list={[
            "text-nowrap text-xs font-bold h-10 mt-0.5 text-slate-100",
            "bg-emerald-700 dark:hover:bg-emerald-800 dark:hover:shadow-inner",
            "dark:bg-emerald-700 dark:hover:bg-emerald-800 dark:hover:shadow-inner",
          ]}>Notify me!</Button
        >
      </form>
    </div>
    <Icon
      height={0}
      width={0}
      class="size-96 absolute right-0 bottom-0 -scale-x-100 pointer-events-none"
      name="sleeping-man"
    />
  </main>
</Layout>
