---
import { Input } from "@/components/ui/input";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
	<main class="mx-auto flex h-screen w-1/2 flex-col content-stretch items-center justify-evenly">
		<div class="flex w-full flex-col items-center">
			<h1 class="pb-10 text-[4rem] font-bold">Spicycough</h1>
			<Input
				client:idle
				placeholder="Search for something..."
				className="h-fit w-full"
				transition:animate="slide"
			/>
		</div>
	</main>

	<script>
		import { navigate } from "astro:transitions/client";

		document.addEventListener("astro:page-load", () => {
			document.querySelector("Input")?.addEventListener("focus", () => {
				navigate("/search", { history: "auto" });
			});
		});
	</script>
</RootLayout>
