---
import Layout from "@/layouts/Layout.astro";
import SearchInput from "@/components/SearchInput.astro";
---

<Layout title="Welcome to Astro." description="Test">
	<main class="mx-auto flex h-screen w-1/2 flex-col content-stretch items-center justify-evenly">
		<div class="flex w-full flex-col items-center">
			<h1 class="pb-10 text-[4rem] font-bold">Spicycough</h1>
			<SearchInput
				placeholder="Search for something..."
				class="h-fit w-full"
				transition:animate="slide"
			/>
		</div>
	</main>

	<script>
		import { navigate } from "astro:transitions/client";

		document.addEventListener("astro:page-load", () => {
			document.querySelector("Input")?.addEventListener("focus", () => {
				navigate("/search", { history: "auto" });
			});
		});
	</script>

	<script>
		document.addEventListener("astro:before-preparation", () => {
			console.log("before prep");
		});

		document.addEventListener("astro:after-preparation", () => {
			console.log("after prep");
		});

		document.addEventListener("astro:before-swap", () => {
			console.log("before swap");
		});

		document.addEventListener("astro:after-swap", () => {
			console.log("after swap");
		});

		document.addEventListener("astro:page-load", () => {
			console.log("page load");
		});
	</script>
</Layout>
