---
import Layout from "@/layouts/Layout.astro";
import SearchInput from "@/components/SearchInput.astro";
import Card from "@/components/Card.astro";
import LineCard from "@/components/LineCard.astro";
import { useDatabase } from "@/db/useDatabase";
// import { contentItems } from "database/migrations/schema";
import { createFakeContentItem } from "@/db/factories";

type TransitionAnimation = {
	name: "fadeIn" | "fadeOut" | "slideIn" | "slideOut";
	delay?: number | string;
	duration?: number | string;
	easing?: string;
	fillMode?: string;
	direction?: string;
};

type TransitionAnimationPair = {
	old: TransitionAnimation | TransitionAnimation[];
	new: TransitionAnimation | TransitionAnimation[];
};

type TransitionDirectionalAnimations = {
	forwards: TransitionAnimationPair;
	backwards: TransitionAnimationPair;
};

const anim: TransitionAnimationPair = {
	old: {
		name: "slideIn",
		duration: "3.0s",
		easing: "linear",
		fillMode: "forwards",
	},
	new: {
		name: "slideOut",
		duration: "3.0s",
		easing: "linear",
		fillMode: "backwards",
	},
};

const slideAnim: TransitionDirectionalAnimations = {
	forwards: anim,
	backwards: anim,
};

// const db = useDatabase();
// const items = await db.select().from(contentItems);
---

<Layout title="Welcome to Astro." description="Test">
	<main class="flex flex-col justify-evenly items-center mx-auto w-10/12 h-screen">
		<div class="flex flex-col items-center w-full">
			<h1 class="pb-10 font-bold text-[4rem]">Spicycough</h1>
			<SearchInput
				placeholder="Search for something..."
				class="w-full h-fit"
				transition:animate="slide"
			/>
		</div>
	</main>

	<script>
		import { navigate } from "astro:transitions/client";

		document.addEventListener("astro:page-load", () => {
			document.querySelector("Input")?.addEventListener("focus", () => {
				navigate("/search", { history: "auto" });
			});
		});
	</script>

	<script>
		document.addEventListener("astro:before-preparation", () => {
			console.log("before prep");
		});

		document.addEventListener("astro:after-preparation", () => {
			console.log("after prep");
		});

		document.addEventListener("astro:before-swap", () => {
			console.log("before swap");
		});

		document.addEventListener("astro:after-swap", () => {
			console.log("after swap");
		});

		document.addEventListener("astro:page-load", () => {
			console.log("page load");
		});
	</script>
</Layout>
