---
import Layout from "@/layouts/Layout.astro";
import Label from "@/components/ui/Label/Label.astro";
---

<Layout class="h-vh justify-center justify-items-stretch">
	<div class="grid w-full max-w-sm items-center gap-1.5">
		<Label />
	</div>
</Layout>
