---
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/ui/Input.astro";

import SearchInput from "@/components/SearchInput.astro";
import LineCard from "@/components/LineCard.astro";
import { createFakeContentItem } from "@/db/factories";

const items = Array.from({ length: 3 }, createFakeContentItem);
---

<Layout title="Search!" description="Test">
	<main class="flex flex-col items-center mx-auto w-10/12 h-screen justify-stretch">
		<div class="flex flex-col items-center w-full h-full">
			<SearchInput class="my-20" placeholder="Search for something..." transition:animate="slide" />
			<div class="flex flex-col flex-grow gap-5 w-full">
				{items.map((item) => <LineCard title={item.title} body={item.abstract ?? ""} />)}
			</div>
		</div>
	</main>
</Layout>
