---
import Layout from "@/layouts/Layout.astro";

import SearchInput from "@/components/SearchInput.astro";
import LineCard from "@/components/LineCard.astro";
import { createFakeContentItem } from "@/db/factories";

const items = Array.from({ length: 3 }, createFakeContentItem);
---

<Layout title="Search!" description="Test">
	<main class="mx-auto flex h-screen w-10/12 flex-col items-center justify-stretch">
		<div class="flex h-full w-full flex-col items-center">
			<SearchInput class="my-20" placeholder="Search for something..." transition:animate="slide" />
			<div class="flex w-full flex-grow flex-col gap-5">
				{
					items.map((item) => (
						<LineCard
							title={item.title}
							body={item.abstract ?? ""}
							imageUrl="https://unsplash.it/200/300"
						/>
					))
				}
			</div>
		</div>
	</main>
</Layout>
