---
interface Props {
	title: string;
	body: string;
	imageUrl?: string;
}

const { title, body, imageUrl } = Astro.props;
---

<div
	class="w-[380px] overflow-hidden rounded-lg border border-slate-200 bg-white text-slate-950 shadow-sm"
>
	<div class="relative">
		<img class="h-auto w-full" src={imageUrl} alt="Descriptive text for card" />
	</div>
	<div class="p-7">
		<h2 class="mb-2 text-lg font-bold leading-none tracking-tight">{title}</h2>
		<p class="mb-5 text-neutral-500">
			{body}
		</p>
		<button
			class="inline-flex h-10 w-full items-center justify-center rounded-md bg-neutral-950 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-neutral-950/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
			>Read more</button
		>
	</div>
</div>
