---
import type { HTMLAttributes } from "astro/types";

import {
	TwitterLogo as TwitterIcon,
	EnvelopeClosed as EnvelopeClosedIcon,
	InfoCircled as InfoCircledIcon,
	Shadow as ShadowIcon,
} from "@astropub/icons";

interface Props extends HTMLAttributes<"header"> {}

const { class: className } = Astro.props;
---

<header class:list={["flex h-20 items-center justify-between px-6", className]}>
	<a class="flex items-center space-x-3" href="https://spicycough.com">
		<ShadowIcon class="size-6 stroke-muted-foreground" />
		<p class="text-2xl font-light text-gleam-200 md:text-3xl">spicycough</p>
	</a>
	<div class="flex items-baseline space-x-4">
		<a class="text-gray-500 hover:text-gray-900" href="about">
			<InfoCircledIcon class="size-4" />
			<span class="sr-only">About</span>
		</a>
		<a class="text-gray-500 hover:text-gray-900" href="mailto:contact@spicycough.com">
			<EnvelopeClosedIcon class="size-4" />
			<span class="sr-only">Email</span>
		</a>
		<a class="text-gray-500 hover:text-gray-900" href="@spicycough">
			<TwitterIcon class="size-4" />
			<span class="sr-only">Twitter</span>
		</a>
	</div>
</header>
