---
interface Props {
	title: string;
	body: string;
	imageUrl: string;
}

const { title, body, imageUrl } = Astro.props;
---

<div class="rounded-md bg-twilight-900 md:flex">
	<div class="border-r-[0.5rem] border-r-warmth-500 md:shrink-0">
		<img src={imageUrl} alt="Descriptive text for line card" />
	</div>
	<div class="p-8">
		<div class="text-sm font-semibold uppercase tracking-wide">
			{title}
		</div>
		<a href="/local" class="mt-1 block text-lg font-medium leading-tight hover:underline"
			>Incredible accommodation for your team</a
		>
		<p class="mt-2 text-slate-500">
			{body}
		</p>
	</div>
</div>
