---
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Welcome to Astro." description="Test">
	<main class="container flex h-dvh min-h-dvh w-full flex-col gap-12 py-10"></main>
</RootLayout>
