---
import type { HTMLAttributes } from "astro/types";

const DEFAULT_ORIENTATION = "horizontal";
const ORIENTATIONS = ["horizontal", "vertical"] as const;

type Orientation = (typeof ORIENTATIONS)[number];

export interface Props extends HTMLAttributes<"div"> {
	/**
	 * Either `vertical` or `horizontal`. Defaults to `horizontal`.
	 */
	orientation?: Orientation;
	/**
	 * Whether or not the component should be rendered as a child of another component.
	 */
	asChild?: boolean;
}

const {
	class: className,
	asChild,
	orientation: orientationProp = DEFAULT_ORIENTATION,
	...props
} = Astro.props;

/* eslint-disable  @typescript-eslint/no-explicit-any */
const isValidOrientation = (orientation: any): orientation is Orientation =>
	ORIENTATIONS.includes(orientation);

const orientation = isValidOrientation(orientationProp) ? orientationProp : DEFAULT_ORIENTATION;
---

<div
	class:list={[
		"bg-border shrink-0",
		orientation === "horizontal" ? "h-[1px] w-full" : "h-full w-[1px]",
		className,
	]}
	data-orientation={orientation}
	{...props}
>
</div>
