---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h3"> {
	asChild?: boolean;
}

const { class: className, asChild, ...props } = Astro.props;
---

<h3 class:list={["text-2xl font-semibold leading-none tracking-tight", className]} {...props}>
	<slot />
</h3>
