---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"p"> {}

const { class: className, ...props } = Astro.props;
---

<div class:list={["p-6 pt-0", className]} {...props}>
	<slot />
</div>
