---
import Card from "./Card.astro";
import CardHeader from "./CardHeader.astro";
import CardTitle from "./CardTitle.astro";
import CardDescription from "./CardDescription.astro";
import CardContent from "./CardContent.astro";
import CardFooter from "./CardFooter.astro";
---

<Card>
	<CardHeader>
		<CardTitle>Card Title</CardTitle>
		<CardDescription>Card Description</CardDescription>
	</CardHeader>
	<CardContent>
		<p>Card Content</p>
	</CardContent>
	<CardFooter>
		<p>Card Footer</p>
	</CardFooter>
</Card>
