---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { Toaster } from "@/components/ui/sonner";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<Head title="Spicycough" description="Up-to-date resources for SARS-CoV-2 management" />
		<ViewTransitions fallback="swap" />
	</head>
	<body class="min-h-screen font-sans antialiased">
		<Header heading="Spicy" text="Huh" />
		<Toaster client:idle />
		<slot />
	</body>
</html>
