---
import { ViewTransitions } from "astro:transitions";

import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { Toaster } from "@/components/ui/sonner";

const title = "spicycough";
const description = "Up-to-date resources for SARS-CoV-2 management";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<Head title={title} description={description} />
		<ViewTransitions fallback="swap" />
	</head>
	<body class="font-sans antialiased">
		<Toaster client:load />
		<div class="flex min-h-svh flex-col">
			<Header class="sticky top-0 flex-grow-0" />
			<main class="container flex h-full flex-1 flex-col py-4">
				<slot />
			</main>
		</div>
	</body>
</html>
