---
import { ViewTransitions } from "astro:transitions";

import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import { Toaster } from "@/components/ui/sonner";

const title = "spicycough";
const description = "Up-to-date resources for SARS-CoV-2 management";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<Head title={title} description={description} />
		<ViewTransitions fallback="swap" />
	</head>
	<body class="font-sans antialiased">
		<Toaster client:load />
		<div class="flex h-svh flex-col">
			<Header class="flex-0 top-0 shrink-0" />
			<slot />
		</div>
	</body>
</html>
